
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sciweb Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{MEDIA_URL}}crudstuff/css/overrides.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Scidentify</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {% if user %}
                Logged in as 
                <a href="#" class="navbar-link">{{user.username}}</a>
                 - 
                <a href="/logout">Logout</a>
              {% endif %}
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              {% for i in models_list %}
              <li>
                <a href="{% url crudstuff_index %}/{{i}}">{{i|capfirst}}</a></li>
              {% endfor %}
              <!--li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li-->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">

          {% ifnotequal action 'add' %}
            {% ifnotequal action 'edit' %}
              <div class="hero-unit">
                <h1>{{model_name|capfirst}}</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-large btn-success" href="{% url crudstuff_index %}/{{model_name}}/show">View List &raquo;</a>
                  &nbsp;&nbsp;&nbsp;
                  <a class="btn btn-large btn-success" href="{% url crudstuff_index %}/{{model_name}}/add">Add {{model_name|capfirst}} &raquo;</a>
                  &nbsp;&nbsp;&nbsp;
                  

                </p>
              </div>
            {% endifnotequal %}
          {% endifnotequal %}


          {% ifequal action 'show' %}
          <table class="table table-bordered">
            {% for i in model_values %}
            <tr>
              <td>{{i.domain}}</td>
              <td>{{i.meta_key}}</td>
              <td>{{i.meta_desc}}</td>
            </tr>
            {% endfor %}
          </table>
          {% endifequal %}



          {% ifequal action 'add' %}
            <h3>New {{model_name|capfirst}}</h3><hr />
            {% if posted %}
              {% if not form.errors %}
                <div class="alert alert-success">Saved!</div>
              {% endif %}
            {% endif %}
            <form action="{% url crudstuff_index %}/{{model_name}}/add" method="POST">{% csrf_token %}
              {{model_form}}
              <div class="linebreak10"></div>
              <input type="submit" value="Save" class="btn btn-large btn-danger"/>
            </form>
          {% endifequal %}



        </div><!--/span-->
      </div><!--/row-->

      <hr />



      <!-- FOOTER -->
      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap.js"></script>

  </body>
</html>
