        <h3>Customer Contacts</h3><hr />

        {% if form.errors %}
        <div class="alert alert-error">{{form.errors}}</div>
        {% else %}
          {% if posted %}
            <div class="alert alert-success">Successfully added customer as pending. You must edit it and activate it</div>
          {% endif %}
        {% endif %}
        <form action="{% url customer_index %}customers/contacts/add/" method="POST">{% csrf_token %}
          {% for i in form %}
            {% ifnotequal i.name 'status' %}
              {{i}}&nbsp;&nbsp;
            {% endifnotequal %}
          {% endfor %}
          <input type="submit" class="btn btn-success" value="Create New Contact" style="margin-top:-10px;"/>
        </form>
        <hr />



        <table class="table table-bordered">
          <tr>
            <td></td>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Customer</td>
          </tr>
          
            {% for i in object_list %}
              
              <tr>
  
                <td><a class="btn btn-primary" href="{{edit_url}}/{{i.id}}">Edit</a></td>
                <td>{{i.name}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.email}}</td>
                <td></td>
              </tr>

            {% endfor %}


          
        </table>
        