            <div id="navbar-example" class="navbar navbar-static navbar-inverse navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                  <a class="brand" href="#">Digiport Portal</a>
                  <ul class="nav" role="navigation">
                    <li class="dropdown">
                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        Customers<b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li><a href="{% url customer_index %}customers/customer/show">Customers</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">Separated link</a></li>
                        <li><a href="{% url customer_index %}customers/contacts/show">Contacts</a></li>
                        <li><a href="{% url customer_index %}customers/customer_servers">Customer Servers</a></li>
                        <li><a href="{% url customer_index %}customers/customer_applications">Customers Applications</a></li>
                        
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        Services<b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                        <li><a href="">Metro Ethernet</a></li>
                        <!--li class="divider"></li>
                        <li><a tabindex="-1" href="#">Separated link</a></li-->
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        Networking<b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                        <li><a href="">IP Addresses</a></li>
                        
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">Separated link</a></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="nav pull-right">
                    <li id="fat-menu" class="dropdown">
                      <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        Logout<b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/logout">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- /navbar-example -->